body{
    font-family: Serif;
}

header, footer{
    background-color: indigo;
    color: white;
    padding: 10px;
    text-align: center;
}

#napis{
    background-color: blueviolet;
    padding: 10px;
    text-align: right;
}

#prawy, #lewy{
    background-color: lavender;
    height: 500px;
}

#lewy{
    width: 25%;
    float: left;
}

#prawy{
    width: 35%;
    float: right;
}

#srodkowy{
    background-color: ghostwhite;
    text-align: center;
    height: 500px;
    width: 40%;
    float: left;
}

img{
    float: right;
    width: 50%;
    padding: 10px;
}

p{
    color: white;
    font-size: 150%;
    font-style: italic;
}

table, form{
    margin: 30px;
}

table, td{
    border-collapse: collapse;
    border: 1px solid indigo;
}

td, th{
    padding: 3px;
}

