*{
    font-family: garamond;
}


header{
    background-color: tomato;
    color: white;
    text-align: center;
    width: 80%;
    height: 80px;
    float: left;
}

.glowny{
    width: 80%;
    height: 600px;
    float: left;
}

.boczny{
    background-color: coral;
    width: 20%;
    height: 680px;
    float: right;

}


footer{
    background-color: tomato;
    color: white;
    text-align: center;
    clear: both;
}

img{
    border-radius: 50%;
    padding-left: 10px;
    padding-right: 10px;
    clear: both;
}

.chat{
    border: 1px solid tomato;
    margin: 15px;
    height: 470px;
    overflow: scroll;
}

.wypowiedzi{
    border-radius: 5px;
    width: 90%;
    height: 70px;
    margin: 2%;
    padding: 3px;

}

.jolanta{
    background-color: #EEE;
    text-align: left;
    height: 70px;

}

.jolanta img{
    float: left;
}

.krzysztof{
    background-color: #CCC;
    text-align: right;
    height: 70px;
    
    
}
.krzysztof img{
    float: right;
}

button{
    background-color: tomato;
    border: 1px solid darkred;
    padding: 5px;
    font-weight: bold;

}


input[type="text"]{
    width: 500px;
}