

*{
    font-family: Cambria;
    box-sizing: border-box;
}

body{
    background-color: linen;
}

#boczny, header, footer{
    background-color: steelblue;
    color: white;
    text-align: center;
    
}

footer{
    clear: both;
}

#boczny{
    width: 25%;
    height: 510px;
    padding-top: 0;
    padding-bottom: 0;
    margin-left: 1%;
    margin-right: 1%;
    box-shadow: 4px 4px 5px dimgray;
    float: left;
}


header{
    width: 73%;
    height: 80px;
    float: left;
}

#glowny{
    width: 73%;
    height: 400px;
    float: right;
}

button{
    background-color: steelblue;
    color: white;
    width: 20%;
    padding: 15px;
    margin-top: 30px;
    font-size: 130%;
    border: none;
}


button:hover{
    cursor: pointer;
    background-color: navy;
}


#kontrolki, #kontrolki2, #kontrolki3{
    background-color: lightblue;
    margin-right: 80px;
    padding: 10px;
}

#kontrolki2, #kontrolki3{
    display: none;
}

#postep{
    background-color: lightgrey;
    width: 73%;
    margin-bottom: 10px;
    float: left;
}


#pusty{
    background-color: navy;
    width: 4%;
    height: 30px;
}

table{
    width: 100%;
    border: dotted 1px navy;
}