*{
    font-family: Cambria;
}

#baner{
    background-color: #C2185B;
    color: white;
    text-align: center;
    padding: 15px;
}


#glowny{
    background-image: url('rozmycie.png');
    height: 500px;

}


footer{
    background-color: #C2185B;
    color: white;
    width: 25%;
    height: 240px;
    float: left;
}

#blokFormularz1, #blokFormularz2, #blokFormularz3{
    float: left;
    background-color: #FCE4ec;
    width: 25%;
    height: 300px;
    margin: 25px;
    padding: 16px;
}

#blokFormularz2, #blokFormularz3{
    visibility: hidden;
    
}


p{
    padding-top: 20px;
}

a{
    color: white;
}

input[type="text"], input[type="password"], input[type="email"], input[type="tel"] {
    width: 80%;
    height: 30px;
    margin: 10px;
}


button, input[type='button']{
    background-color: #C2185B;
    color: white;
    margin-top: 50px;
    margin-left: 60%;
    padding: 20px;
    border: none;
}

video{
    width: 100%;
    height: 100%;
}