*{
    font-family: Helvetica;
}
body{
    margin: 0;
}

#baner, footer{
    background-color: saddlebrown;
    color: white;
    text-align: center;
    padding: 7px;
    clear: both;
}
#lewy{
    background-color: peru;
    width: 80%;
    height: 40px;
    padding-top: 20px;
    float: left;
}


#glowny{
    width: 80%;
    height: 700px;
    font-family: 120%;
    overflow: auto;
    float: left;
}

#prawy{
    background-color: peru;
    color: white;
    width: 20%;
    height: 760px;
    float: left;
    position: relative;
    margin-top: -60px;
}

a{
    color: #ddd;
    padding-left: 90px;
    font-size: 140%;
    text-decoration: none;
}

a:hover{
    color: white;
}
img{
    float: left;
    margin: 30px;
}
