body{
    font-family: Georgia;
    margin: 0;
}

header{
    background-color: navy;
    color: white;
    text-align: center;
    height: 100px;
    width: 50%;
    float: left;
}

#menu{
    background-color: navy;
    padding: 20px;
}

label{
    color: silver;
    margin: 50px;
}

label:hover{
    color: white;
    text-decoration-line: underline;
}

#lewy, #prawy{
    background-color: azure;
    height: 550px;
}

#lewy{
    width: 70%;
    float: left;
}

#prawy{
    width: 30%;
    float: right;
}

footer{
    background-color: navy;
    color: white;
}

table{
    border: 1px solid navy;
    margin: auto;
    width: 70%;
}

td:hover{
    background-color: skyblue;
}

#prawyimg{
    width: 90%;
}
