body{
    font-family: verdana;
    text-align: center;
    padding-top: 0;
    padding-bottom: 0;
    padding-right: 3%;
    padding-left: 3%;
}

#naglowkowy{
    background-color: #FDFAAA;
    color: #5BBB77;
    padding: 10px;
    text-shadow: 5px 5px 10px black;
    clear: both;
}


#lewy{
    background-color: #FFA6A6;
    width: 79%;
    height: 600px;
    margin-top: 15px;
    margin-bottom: 15px;
    margin-right: 0;
    margin-left: 0;
    box-shadow: 5px 6px 10px black;
    float: left;
}

#prawy{
    background: linear-gradient(#FDFAAA, #5BBB77); 
    width: 20%;
    height: 630px;
    float: right;
}


#stopka{
    background-color: #5BBB77;
    color: #FFF555;
    font-weight: bold;
    padding: 15px;
    clear: both;
}

table{
    margin: auto;
    width: 80%;
}

table th{
    background-color: #5BBB77;
    font-size: 16px;
    height: 40px;
}

table tr:nth-child(even){
    background-color: #FDFAAA;
}


ul{
    list-style: square;
    line-height: 1.5;
    
}

a{
    color: #680808;
}
h4{
    color: green;
}