*{
    font-family: Roboto, Serif;
    box-sizing: border-box;
}


#baner{
    background-color: crimson;
    color: white;
    text-align: center;
    letter-spacing: 5px;
    word-spacing: 30px;
    padding: 10px;
}

#glowny1{
    background-color: mistyrose;
    height: 300px;
    padding: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 50px;
    border: solid 1px crimson;
}

#glowny1 img{
    float: left;
    height: 100%;
}


#oferty{
    background-color: snow;
    height: 450px;
    width: 21%;
    margin: 1%;
    text-align: center;
    border: solid 1px crimson;
    float: left;
}

footer{
    background-color: crimson;
    color: white;
    clear: both;
}
img{
    max-width: 100%;
}

h4{
    font-size: 180%;
    text-align: center;
    color: crimson;
}
a{
    color: white;
}