*{
    font-family: Verdana;
}
.boczny{
    width: 20%;
    height: 610px;
    float: left;
    
}

img{
    width: 100%;
    height: 610px;
}


.naglowkowy, .stopka, .nawigacyjny{
    background-color: mediumpurple;
    color: white;
    width: 80%;
    height: 50px;
    text-align: center;
    text-shadow: 4px 4px dimgray;
    float: left;


}

.nawigacyjny{
    padding-top: 10px;
}

.glowny{
    background-color: thistle;
    width: 80%;
    height: 450px;
    overflow: auto;
}

.przyciskLista{
    float: right;
    background-color: mediumpurple;
    color: white;
    height: 30px;
    border: none;
}

ul{
    margin-top: 40px;
    margin-bottom: 40px;

    margin-left: auto;
    margin-right: auto;
    width: 70%;
    font-size: 25px;
    border: solid 2px mediumpurple;
    list-style: none;
}

li{
    margin: 10px;
}

li:nth-child(even){
    background-color: #DDCADD;
}

li:hover{
    background-color: lavender;
}